.popup {
    height: 100vh;
    width: 100%;
}

body{
    margin: 0;
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/

}

iframe{
    border: 0;
    width:100%;
    height:100%;
}

.inner-frame{
    width: 100%;
}

iframe img{
    width: 100%;
}