/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

:root{
    --background-gray: rgba(91, 91, 105, .2);
}

* {
     box-sizing: border-box !important;

}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
     background-color: var(--background-gray);
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 30px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 30px;
}

h4 {
     font-size: 16px;
}

h5 {
     font-size: 14px;
}

h6 {
     font-size: 13px;
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
}

p {
     margin: 20px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #ffffff;
     text-decoration: none;
     outline: none !important;
}


.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.header_main{ 
	width: 100%;
    float: left;
    background-image: url(../images/header_water_black.jpg);
    background-size: cover;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px; 
    /* border-bottom: 7px solid rgb(91, 91, 105); */
    border-bottom: 7px solid rgba(91, 91, 105, .2);
}

/* .header_main a {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    -webkit-text-stroke: 0.5px #000;
    text-shadow: #000;
    outline: none !important;
} */

.header-text{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
    text-shadow: 2px 2px 2px #000;
}

.header-text:hover{
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
}


.header{ 
	width: 100%;
	width: 100%;
	float: left;
	background-color: #0728ff33;
	padding-bottom: 10px;
	padding-top: 10px;
}


.banner-main{ 
	width: 100%;
	float: left;
    margin-bottom: 3rem;
    background: url(../images/bg-header.png) left top no-repeat;
	height: auto;
	padding-top: 20px;
	padding-bottom: 226px; 

}

.last{
	padding-top: 10px;
	padding-left: 40px;
}

.titlepage-h1{
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;	
}

.bnner_title{
		font-size: 46pt;
		color: #ffffff;
		padding-top: 70px;
		font-family: 'Raleway', sans-serif;;}


.long_text{
    font-size: 14pt;
	color: #ffffff;
	padding-bottom: 30px;
}
.btn_main{
	width: 40%;
    display: block;
   	margin: 0 auto;
	text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 60px;
    padding-left: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px #000;
    /* -webkit-text-stroke: 0.1px #fff; */
}
.nav-container{
    margin-right: 5rem;
}
.navbar-nav.mr-auto {
    width: 100%;
    margin: 0;
    display: block;
}

.navbar-nav.mr-auto li {
    float: left;
}

.navbar-nav.mr-auto li.last {
    float: right;
}

.navbar-light .navbar-nav .active>.nav-link{
		color: #23bbfb;
}

 .navbar-light .navbar-nav .nav-link:hover {
		color: #23bbfb;
}

.bg-light {
    background-color: none;
}

.about_main{
	width: 100%;
	float: left;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.creative_taital{
	width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
    margin-top: -110px;
    margin-bottom: 50px;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.typed-cursor {
	opacity: 0;
	font-size: 10px;
    color: var(--dark);
}


.typed::after {
	position: relative;
	top: -4px;
	content: '|';
	display: inline-block;
	animation: blink 0.7s infinite;
}

.creative_text{
	color: #050000;
	font-size: 22pt;
	text-align: center;	
	border-bottom: 1px solid #000;
	width: 46%;
    margin: 0 auto;
    text-align: center;
	font-weight: bold;

}

.home-img{
    position: relative;
    width: 100%;
    padding-bottom: 80%;
    overflow: hidden;
}

.home-inner-img{
    position: absolute;
}


.section_service_2{
	width: 100%;
	float: left;

}

.service_text{
	color: #050000;
	font-size: 22pt;
	text-align: center;	
	border-bottom: 1px solid #000;
	width: 22%;
    margin: 0 auto;
	font-weight: bold;
}

.service_main{
	width: 100%;
	float: left;
	margin-top: 30px;
}

.written_text{
	width: 100%;
	float: left;
	background-color: #072833;
	height: auto;
	padding: 20px;
}

.written_text{
	width: 100%;
	float: left;
	color: #ffffff;
	margin-top: 20px;
}
.like_icon{
	padding-left: 20px;
	min-height: 50px;
}
.quote_section{
	width: 100%;
	float: left;
	background-color: #076787;
	height: auto;
	padding: 20px;
	font-weight: bold;
}

.quote_text{
	color: #ffffff;
	width: 100%;
	float: left;
}

.loan_text{
	color: #ffffff;
	width: 100%;
	float: left;
	margin: 0px;

}

.quote_btn{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}


.touch_section{
	width: 100%;
    padding-top: 57px;
    background-color: #ffffff;
    display: inline-block !important;
}

.research_text{
	width: max-content; 
	text-align: left;
	border-bottom: 1px solid #000;
	color: #050000;
	font-size: 22pt;
	font-weight: bold;

}


.touch_text{
	width: 27%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #000;
	color: #050000;
	font-size: 22pt;
	font-weight: bold;

}

.get_touch_main{
	width: 100%;
	float: left;
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40PX;
}

.input_main{
	width: 100%;
	float: left;
	background-color: #ffffff;
    padding: 40px 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #000;
    border-radius: 0px;
}

.map_text{
    width:55%;
    text-align: center;
    margin:0 auto;
    border-bottom: 1px solid #000;
    padding: 5px 0;
	color: #050000;
	font-size: 18pt;
	font-weight: bold;
}




.lorem_text{
	width: 100%;
	float: left;
	color: #ffffff;
	font-size: 17px;
    line-height: 35px;
    padding-top: 80px;
}

.contact_main{
	width: 100%;
	float: left;
	padding-top: 40px;
}

.contact_section_2{
	width: 50%;
	margin: 0 auto;
	display: block;
	padding-top: 40px;
}

.map_icon{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.copyright{
	width: 100%;
	float: left;
	background-color: #02074d;
	padding-top: 10px;
	padding-bottom: 10px;

}

.copyright_text{
	width: 100%;
	float: left;
	color: #fbfdfd;
	text-align: center;
	margin: 0px;
}

.email-text{
	width: 100%;
	float: left;
	color: #3ac3f0;
    margin: 10px 0;
}

.email-text a {
    text-decoration: none;
    color: #333;
}

.email-text a:hover{
	color: #000;
} 

.copyright_text a:hover,
.copyright_text a:focus {
    color: #fff;
}

button.main_bt {
    background: #ce4109;
    border: none;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 22px;
	cursor: pointer;
}



.email-bt{
	background: #072833;
    border: none;
    color: #fff;
    width: 100%;
    height: 55px;
    font-size: 22px;
    padding: 20px;


}

.massage-bt{
	background: #072833;
    border: none;
    color: #fff;
    width: 100%;
    height: 145px;
    font-size: 22px;
    padding: 20px;


}

.button.navbar-toggler.collapsed { background: #fff;}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #fff;
    padding: 10px 20px;
}

.about_main{
	width: 100%;
	float: left;
	margin-top: 130px;
}

.section_service_main{
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;

}
.contact_main{
	width: 100%;
	float: left;
	padding-top: 30px;

}

.project_main{
	width: 100%;
	float: left;
}

.project_text{
	width: 100%;
	float: left;
	font-size: 34px;
	color: #000;
	text-align: center;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;
}

.project_section_2{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section_1{
	width: 100%;
	float: left;
	background-color: #fff;
    box-shadow: 0px 0px 10px 0px;
}

.date-bt {
    background: #072833;
    border: none;
    color: #fff;
    width: 110px;
    height: 35px;
    font-size: 12px;
    margin-top: -35px;
    font-weight: 500;
    float: left;
    max-width: 100%;
    clear: both;
    position: relative;
}
.project-bt{
    background: #072833;
    border: none;
    color: #fff;
    width: 110px;
    height: 35px;
    font-size: 12px;
    margin-top: -35px;
    font-weight: 500;
    float: right;
    max-width: 100%;
    clear: both;
    position: relative;

}

.about_page .creative_taital {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #e7e7e7;
    margin-top: -100px;
    margin-bottom: 50px;
    box-shadow: none;
}

/** arrow css **/

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 82px;
    bottom: 10px;
    top: inherit;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    top: 40% !important;
    left: 17px !important;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 62px;
    height: 60px;
    background: #fffdfd;
    opacity: 1;
    font-size: 30px;
    color: #000;
}

#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 62px;
    height: 60px;
    background: #fffdfd;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 35px;
    top: 40% !important;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover,
 #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #10b5fa;
    color: #fff;
    
}

/* about */
#about{
	width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 0;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
}

#about-text{
    height: 100%;
    border-left: 2px solid rgb(248, 88, 19);
    
}

#working{
    width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 0;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
}
#service{
    width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 0;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
}

#teaching{
    width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 0;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
}

#patent{
    width: 100%;
	float: left;
	background-color: #ffffff;
	height: auto;
	padding-bottom: 0;
	padding-top: 30px;
    box-shadow: 0px 0px 10px 0px;
    color: #e7e7e7;
}
/*** Project research ***/
#research-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#research-flters li:hover,
#research-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.research-img {
    position: relative;
	
}


.research-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 68, 197, .9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
    padding-bottom: 100px !important;
    opacity: 0;
    transition: .5s;
	
}


.research-item:hover .research-btn {
    opacity: 1;
    padding-bottom: 50px !important;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-outline-secondary {
    color: #FFC448;
    border-color: #FFC448;
}

.btn-outline-secondary:hover {
    color: #fff;
    border-color: #FFC448;
	background-color: #FFC448;
}

/***publication***/
.publication{
    list-style: none;
}


.pub-type{
    font-weight: bold;
    background-color: #fff;
    padding: 10px 0;
}

.publication_main a{
    color: saddlebrown;
}

.publication_main a:hover{
    color: #fff;
}


.publication_main{
	width: 100%;
	float: left;
	margin-top: 30px;
}

.pub-title{
    color:#000;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 10px;
}

.pub-title a{
    font-size: 13px;
}


/***opportunities***/
.opp-type{
    background-color: #fff;
    padding: 10px 0;
}

.opportunities_main a{
    color: saddlebrown;
}

.opportunities_main a:hover{
    color: #fff;
}


.opportunities_main{
	width: 100%;
	float: left;
	margin-top: 30px;
}

.opp-title{
    color:#000;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 10px;
}

.opp-title a{
    font-size: 13px;
}

.opp-contents{
    font-size: 15px;
}

.opp-contents ol,
.opp-contents ul,
.opp-contents li{
    padding:auto;

}

/* project */
#Project-flters li,
#ExperimentalProgram-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#Project-flters li:hover,
#Project-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

#ExperimentalProgram-flters li:hover,
#ExperimentalProgram-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

/* .pj-img-crop{
    overflow: hidden;
} */

.pj-img{
    min-height: 170px;
    max-height: 200px;
    object-fit:scale-down;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.1em solid #dddddd;
    box-shadow: 0 0 0.1em 0.1em #dddddd;
    cursor: pointer;

}

.pj-title{
    color:#000;
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 0;
}

.Project span,
.ExperimentalProgram span{
    color: black;

}

.Project span a,
.ExperimentalProgram span a{
    color: saddlebrown;
    font-weight: 600;

}

.Project a:hover,
.ExperimentalProgram a:hover{
    color: var(--primary);

}